body{
    font-family: verdana;
}*{
    margin: 0;
    padding: 0;
}

header, footer{
    position: absolute;
    background-color: #000;
    width: 100%;
    color: white;
}

header{
    height: 10vh;
}

footer{
    height: 15vh;
    bottom: 0;
}